/* Definindo o fundo e as fontes */
body {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Homemade Apple', cursive;
    margin: 0;
    padding: 0;
}

/* Estilo do título e do menu */
header h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 6em;
    text-align: center;
    margin: 20px 0;
    font-weight: normal; /* Remove o negrito */
	color: #f0e7a6; /* Define a cor amarelo claro */
}

/* Estilo principal do menu */
.menu {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}

.day h2 {
    font-family: 'Playwrite BR', cursive;
    font-size: 1.3em;
    text-align: center;
    color: white;
    font-weight: 500;
}

.day ul {
    list-style: none;
    padding: 0;
    font-size: 1em;
    text-align: left;
    font-family: 'Playwrite BR', cursive;
    color: white;
    font-weight: 500;
	line-height: 1.2; /* Diminui o espaçamento entre as linhas */
}

.day ul li {
    margin: 10px 0;
    position: relative;
    padding-left: 15px; /* Adiciona espaço para o asterisco */
}

.day ul li::before {
    content: "*"; /* Asterisco antes de cada item */
    position: absolute;
    left: 0;
    color: white; /* Define a cor do asterisco */
}

/* Estilo do rodapé */
footer {
    text-align: left;
    font-size: 1em;
    padding: 20px;
    font-family: 'Playwrite BR', cursive;
    background: rgba(0, 0, 0, 0.0);
	color: white; /* Define a cor amarelo claro */
    margin-top: auto; /* Empurra o footer para o final do body */
}


/* Responsividade */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .day {
        width: 90%;
    }
}
